*{padding: 0px;margin: 0px}
html{position: absolute;width: 1280px;height: 720px;color: white}
body{position: absolute;width: 1280px;height: 720px;}
.myOrder{
    width: 1280px;
    height: 720px;
    position: fixed;
    background:linear-gradient(328deg,rgba(38,27,22,1) 0%,rgba(69,67,77,1) 100%);
    top:0;
}
.myOrder_top{
    position: relative;
    left: 151px;
    top: 96px;
}
.myOrder_top img{
    width: 80px;
    height: 80px;
    float: left;  
    border-radius: 80px;  
}
.myOrder_top p{
    font-size:30px;
    font:bold; 
    margin-left:30px;
    line-height:80px; 
    float: left;
}
.myOrder_center{
    position: relative;
    left: 151px;
    top: 203px;
}
.myOrder_center p{
    position: absolute;
    left: 0px;
    font-size:24px;
    font: bold; 
}
.myOrder_center .shopList{
    font-size:20px;
}
.myOrder_center #o_name{
    position: absolute;
    top:67px;
    left:18px;
}
.myOrder_center #o_price{
    position: absolute;
    top:70px;
    left:194px;
}
.myOrder_center #o_pd{
    position: absolute;
    top:70px;
    left:435px;
}
.myOrder_center #o_state{
    position: absolute;
    top:70px;
    left:680px;
}
.myOrder_center #o_handle{
    position: absolute;
    top:70px;
    left:845px;
}
/* .myOrder_center .shopList{
    width: 548px;
    height: 95px;
    position: relative;
    left: -13px;
}

.myOrder_center .shopList div div:nth-child(1){
    font-size: 22px;
    font-weight: bold;
    margin-top:13px; 
    margin-left:24px; 
}

.myOrder_center .shopList div.active{
    border: 1px solid white;
    background: #0098BC;
}

.myOrder_center .shopList div div:nth-child(2){
    font-size: 25px;
    font-weight: bold;
    color: #E59A40;
    margin-top:6px; 
    margin-left:44px;
}

.myOrder_center .shopList div img{
    position: absolute;
    left: 53px;
    top: 95px;
    display: none;
}

.myOrder_center .shopList div img.none{
    display: block;
}

.myOrder_center .shopList #s_List-1{
    width: 180px;
    height: 96px;
    position: absolute;
    left: 70px;
    top: -1px;
}

.myOrder_center .shopList #s_List-2{
    width: 180px;
    height: 96px;
    position: absolute;
    right: 70px;
    top: -1px;
} */

.myOrder_bottom{
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    top: 100px;
    left: 0px;
}

/* 横行 */
#List1 .o_name_List1, #List1 .o_price_List1, #List1 .o_pd_List1, #List1 .o_state_List1, #List1 .ipunt{
    position: absolute; 
    top:20px;
    /* padding-top:10px; */
}
#List2 .o_name_List2, #List2 .o_price_List2, #List2 .o_pd_List2, #List2 .o_state_List2, #List2 .o_handle_List2{
    position: absolute; 
    top:100px;
}
#List3 .o_name_List3, #List3 .o_price_List3, #List3 .o_pd_List3, #List3 .o_state_List3, #List3 .o_handle_List3{
    position: absolute; 
    top:180px;
}
/* 竖列 */
 .o_name_List1,  .o_name_List2,  .o_name_List3{
    position: absolute;
    left: 20px;
    width:160px;
    height:50px;
    line-height:50px;
}
 .o_price_List1, .o_price_List2,  .o_price_List3{
    position: absolute;
    left: 180px;
    width:160px;
    height:50px;
    line-height:50px;
}
.o_pd_List1, .o_pd_List2, .o_pd_List3{
    position: absolute;
    left:350px;
    width:250px;
    height:50px;
    line-height:50px;
}
.o_state_List1, .o_state_List2, .o_state_List3{
    position: absolute;
    left:680px;
    width:160px;
    height:50px;
    line-height:50px;
}
.ipunt, .o_handle_List2, .o_handle_List3{
    position: absolute;
    left:820px;
    width:160px;
    height:50px;
    border-radius:15px;
    line-height: 50px;
}
/* 选中 */
 .ipunt.active,  .o_handle_List2.active, .o_handle_List3.active {
    border: 2px solid white;
    background:rgba(0,152,188,1);
    text-align: center;
    left:790px;
}
#List1 .actived, #List2 .actived, #List3 .actived{
    width:1014px;
    height:68px;
    background:linear-gradient(328deg,rgba(38,27,22,1) 0%,rgba(69,67,77,1) 100%);
    border-radius:15px;
}
/* 退订弹框 */
.tuidingBox {
    position: absolute;
    top:-203px;
    left:-151px;
    width:1280px;
    height:720px;
    background:linear-gradient(108deg,rgba(29, 58, 56,0.95) 20%,rgba(74,58,33,0.95) 100%);
}
.tuidingBox .scrollbox{
    position: absolute;
    left:351px;
    top:171px;
    width:578px;
    height:355px;
    background:linear-gradient(132deg,rgba(70,139,134,1) 0%,rgba(182,141,82,1) 100%);
    border-radius: 15px;
}
.tuidingBox .scrollbox .text{
    font-size:30px;
}
.tuidingBox .scrollbox .text1{
    position: absolute;
    left:93px;
    top:90px;
}
.tuidingBox .scrollbox .text2{
    position: absolute;
    top:140px;
    left:186px;
}
.tuidingBox .scrollbox .no{
    position: absolute;
    top:225px;
    left:107px;
    width:160px;
    height:60px;
    font-size:19px;
    background:rgba(255,255,255,0.31);
    border-radius:15px;
    text-align: center;
    line-height: 60px;
}
.tuidingBox .scrollbox .yes{
    position: absolute;
    top:225px;
    left:311px;
    width:160px;
    height:60px;
    font-size:19px;
    background:rgba(255,255,255,0.31);
    border-radius:15px;
    text-align: center;
    line-height:60px;
}
.tuidingBox .scrollbox .yes.active,.tuidingBox .scrollbox .no.active{
    background:#0098BC;
    border:2px solid #fff;
}
.message{
    display:none;
    position: absolute;
    top:110px;
    left:190px;
    width:480px;
    height:120px;
    text-align:center;
    line-height:120px;
    font-size: 24px;
    background:linear-gradient(108deg,rgba(29, 58, 56,0.95) 20%,rgba(74,58,33,0.95) 100%);
    border-radius: 15px;;
}