*{padding: 0px;margin: 0px}
html{position: absolute;width: 1280px;height: 720px;color: white}
body{position: absolute;width: 1280px;height: 720px;}
.Unsubscribe{
    width: 1280px;
    height: 720px;
    position: relative;
    background-color: #00A190;
}
.U_top{
    position: absolute;
    top: 237px;
    left: 330px;
}
.U_top img{
    width: 100px;
    height: 100px;
    float: left;
}
.U_top .U-text{
    float: left;
    width: 700px;
    margin-top:-10px; 
}
.U_top .U-text p{
    font-size: 30px;
    margin-left:25px; 
}
.U_top .U-text p:nth-child(2){
    margin-top:30px; 
}

.U-center{
    position: relative;
    top: 400px;
    left: 350px;
}

.input{
    width: 168px;
    height: 60px;
    background: rgba(255, 255, 255, 0.31);
    text-align: center;
    line-height: 60px;
    font-size: 19px;
    float: left;
    margin-left:96px;
}

.input.active{
    background: #0098BCFF;
    border: 3px solid white;
}

.U-inout{
    width: 1280px;
    height: 720px;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.31);
    display: none
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}


