*{padding: 0px;margin: 0px}
html{position: relative;color: white}
body{overflow: hidden;
    position: absolute;
    width: 1280px;
    /* height: 720px; */
    background-color: #1D5F5C;}
.noPayfor{
    width: 1280px;
    height: 720px;
    position: relative;
}
.noPay_top{
    position: relative;
    left: 151px;
    top: 96px;
}
.noPay_top img{
    width: 80px;
    height: 80px;
    float: left;    
}
.noPay_top p{
    font-size:30px;
    font:bold; 
    margin-left:45px;
    line-height:80px; 
    float: left;
}
.noPay_center{
    position: relative;
    left: 151px;
    top: 248px;
}
.noPay_center p{
    width: 200px;
    font-size:24px;
    font: bold; 
    position: absolute;
    left: 0px;
    height: 0px;
}
.noPay_center .shopList{
    width: 548px;
    height: 95px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    top: 72px;
    left: -13px;
}

.noPay_center .shopList div div:nth-child(1){
    font-size: 22px;
    font-weight: bold;
    margin-top:13px; 
    margin-left:24px; 
}

.noPay_center .shopList div.active{
    border: 1px solid white;
    background: #0098BC;
}

.noPay_center .shopList div div:nth-child(2){
    font-size: 25px;
    font-weight: bold;
    color: #E59A40;
    margin-top:6px; 
    margin-left:44px;
}

.noPay_center .shopList div img{
    position: absolute;
    left: 53px;
    top: 95px;
    display: none;
}

.noPay_center .shopList div img.none{
    display: block;
}

.noPay_center .shopList #s_List-1{
    width: 180px;
    height: 96px;
    position: absolute;
    left: 70px;
    top: -1px;
}

.noPay_center .shopList #s_List-2{
    width: 180px;
    height: 96px;
    position: absolute;
    right: 70px;
    top: -1px;
}

.noPay_bottom{
    width: 1011px;
    height: 78px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    top: 360px;
    left: 133px;
}

.noPay_bottom p{
    width: 370px;
    font-size:20px;
     text-align: center;
     line-height: 78px;
     position: absolute;
}

.noPay_bottom .ipunt{
    width: 226px;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    text-align: center;
    position: absolute;
    right: 16px;
    top: 10px;
    line-height: 60px;
}

.noPay_bottom .ipunt.active{
    border: 2px solid white;
    background: #0098BC;
}


