    /** 通用css ***/
    * {
        padding: 0px;
        margin: 0px
    }

    html {
        background-color: #FFFFFF;
    }

    img {
        width: 100%;
        height: 100%;
    }

    li {
        list-style: none
    }

    /* 导航栏css */
    .single-row {
        position: absolute;
        top: 184px;
        left: 165px;
        width: 135px;
        height: 423px;
        display: inline-block;
        background-color: #478582;
        font-size: 20px;
        font-family: Helvetica Neue, Regular;
        color: #FFFFFF;
        line-height: 62px;
        text-align: center;
        overflow: hidden;
    }

    .single-row ul {
        position: relative;
        height: 423px;
        top: 180px;
    }

    .single-row ul li {
        height: 62px;
        line-height: 62px;
        white-space: nowrap;
    }

    .single-row-hover {
        border: 2px solid transparent;
        background-color: #6C9E9B;
        width: 135px;
        height: 62px;
        position: absolute;
        top: 180px;
    }

    .ul-hover {
        border-radius: 15px !important;
        background-color: #7FAAA8 !important;
    }

    .ul-hover .single-row-hover {
        background-color: #0098BC;
        border: 2px solid #ffffff;
        width: 131px;
    }

    .filter {
        background-color: #1D5F5C;
        width: 1280px;
        height: 720px;
        position: absolute;
        overflow: hidden;
    }

    .left-nav {
        position: absolute;
        width: 343px;
        height: 719px;
        background-color: #3C7E7B;
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.16);
        border-top: 1px solid #1D5F5C;
        box-sizing: border-box;
    }

    .title {
        position: absolute;
        top: 16px;
        left: 60px;
        height: 63px;
        width: 240px;
        font-size: 44px;
        color: #A8C5C3;
    }

    .filter-0 {
        position: absolute;
        top: 184px;
        left: 51px;
        width: 70px;
        height: 423px;
        display: inline-block;
        background-color: #478582;
        font-size: 20px;
        font-family: Helvetica Neue, Regular;
        color: #FFFFFF;
        line-height: 62px;
        text-align: center;
        overflow: hidden;
    }

    .filter-1 {
        position: absolute;
        top: 184px;
        left: 125px;
        width: 86px;
        height: 423px;
        display: inline-block;
        background-color: #478582;
        font-size: 20px;
        font-family: Helvetica Neue, Regular;
        color: #FFFFFF;
        line-height: 62px;
        text-align: center;
        overflow: hidden;
    }

    .filter-2 {
        position: absolute;
        top: 184px;
        left: 215px;
        width: 86px;
        height: 423px;
        display: inline-block;
        background-color: #478582;
        font-size: 20px;
        font-family: Helvetica Neue, Regular;
        color: #FFFFFF;
        line-height: 62px;
        text-align: center;
        overflow: hidden;
    }

    .filter-0 ul {
        position: relative;
        height: 423px;
        top: 180px;
    }

    .filter-1 ul {
        position: relative;
        height: 423px;
        top: 180px;
    }

    .filter-2 ul {
        position: relative;
        height: 423px;
        top: 180px;
    }

    .filter-center-0 {
        border: 2px solid transparent;
        background-color: #6C9E9B;
        width: 66px;
        height: 58px;
        position: absolute;
        top: 180px;
    }

    .filter-center-1 {
        border: 2px solid transparent;
        background-color: #6C9E9B;
        width: 82px;
        height: 58px;
        position: absolute;
        top: 180px;
    }

    .filter-center-2 {
        border: 2px solid transparent;
        background-color: #6C9E9B;
        width: 82px;
        height: 58px;
        position: absolute;
        top: 180px;
    }

    .hover-sign {
        position: absolute;
        top: 354px;
        left: 320px;
        height: 69px;
        border-radius: 3px;
        background-color: #0892C4;
        border: 3px solid #ffffff;
    }

    .hover-sign span {
        display: block;
        content: '';
        width: 10px;
        height: 8px;
        background-color: #fff;
        position: absolute;
        left: -8px;
        top: 30px;
        border-radius: 50%;
    }

    .filter-0 li {
        width: 70px;
        height: 62px;
        white-space: nowrap;
    }

    .filter-1 li {
        width: 86px;
        height: 62px;
        white-space: nowrap;
    }

    .filter-2 li {
        width: 86px;
        height: 62px;
        white-space: nowrap;
    }

    .left-nav .ulhover {
        border-radius: 15px;
        background-color: #7FAAA8
    }

    .left-nav .ulhover .filter-center {
        background-color: #0098BC;
        border: 2px solid #ffffff;
    }

    .filter-connent {
        position: absolute;
        top: 0;
        right: 30px;
        height: 720px;
        width: 905px;
    }

    .top-c {
        font-size: 24px;
        margin: 50px 0px 60px 58px;
        color: #E8F0E1;
        display: none;
        position: absolute;
        top: 320px;
        left: 190px;
    }

    /** 内容css ***/
    .li-item0 {
        left: 0;
        top: 10px;
    }

    .li-item1 {
        left: 203px;
        top: 10px;
    }

    .li-item2 {
        left: 406px;
        top: 10px;
    }

    .li-item3 {
        left: 609px;
        top: 10px;
    }

    .li-item4 {
        left: 0;
        top: 319px;
    }

    .li-item5 {
        left: 203px;
        top: 319px;
    }

    .li-item6 {
        left: 406px;
        top: 319px;
    }

    .li-item7 {
        left: 609px;
        top: 319px;
    }

    /* .middle-box {position: relative;top: 56px;left: 35px;height: 608px;width: 891px;}
     .middle-box .middle-li {position: absolute;overflow: hidden;; width: 178px;height: 309px;list-style: none;}
     .middle-box .hover .imgbox {border: 3px solid #ffffff;}
     .middle-box .hover .word {text-shadow: 0 3px 6px #ffffff;text-overflow:clip;}
     .middle-li .imgbox {width: 172px; height: 249px;border: 3px solid transparent;}
     .middle-li .score {position: absolute;z-index: 99;width: 60px;height: 60px;line-height: 40px;top: -1px; right: -1px; color: #df9720;background: url(../public/images/jiaobiao.png);}
     .middle-li .score span {padding-left: 30px;}
     .middle-li .word {position: absolute;display: inline-block;width: 100%;height: 49px;font-size: 20px; line-height: 40px;text-align: center;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;color: #FFFFFF;font-family: '苹方-港, Regular'} */
    .filter-scroll {
        position: absolute;
        top: 68px;
        width: 3px;
        height: 543px;
        left: 1200px;
        background-color: #769E9C;
        display: none;
    }

    .filter-bar {
        position: absolute;
        width: 5px;
        height: 100px;
        right: -1px;
        background-color: #FFFFFF;
        border-radius: 5px;
    }

    .filter-num {
        position: absolute;
        top: 626px;
        left: 1155px;
        width: 100px;
        text-align: center;
        height: 36px;
        line-height: 36px;
        color: #FFFFFF;
        font-size: 25px;
    }