body {
    margin: 0;
    padding: 0;
    font-size: 0.16rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: PingFang HK;
    background-color: #FCFCFA;
}

ul {
    padding: 0;
}

ul li {
    list-style: none
}

input,
button {
    background: none;
    outline: none;
    border: 0px;
}

.login-body {
    /* display: none; */
    width: 100%;
    /* height: 100%; */
}

.login-header {
    margin: 0.66rem 0 0 0.3rem;
}

.login-header div {
    font-size: 0.34rem;
    color: #636055;
    line-height: 0.48rem;
    border-width: Thin;
    font-weight: 100;
}

.login-header p {
    font-size: 0.16rem;
    color: #EB950C;
    line-height: 0.2rem;
    margin: 0.08rem 0 0 0.05rem;
}

.login-connect {
    margin: 0.9rem 0 0 0.31rem;
}

.login-input,
.login-password {
    position: relative;
    width: 3.15rem;
    border-bottom: 1px solid #E6E1E1;
}

.login-input .header {
    display: inline-block;
    width: 0.34rem;
    height: 0.22rem;
    border-width: Regular;
    line-height: 0.22rem;
    margin: 0.06rem 0.19rem 0.06rem 0;
    color: #636055;
}

.login-input .star {
    display: inline-block;
    width: 0.07rem;
    height: 0.07rem;
    color: #B49942;
    border-width: Regular;
    line-height: 0.22px;
    border-top: 1px solid #B49942;
    border-right: 1px solid #B49942;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: absolute;
    top: 0.13rem;
}

.login-input input {
    width: 67%;
    height: 0.22rem;
    padding: 0.05rem 0 0.05rem 0.4rem;
}

.login-password {
    margin-top: 0.52rem;
    width: 1.84rem;
    float: left;
    height: 0.43rem;
}

.login-password input {
    height: 0.22rem;
    padding: 0.11rem 0;
}

.code {
    width: 1.15rem;
    height: 0.43rem;
    background-color: #FFD800;
    border-radius: 0.22rem;
    float: right;
    color: #636055;
    margin: 0.52rem 0.29rem 0 0;
    font-size: 0.18rem;
}

.login-code {
    font-size: 0.12rem;
    width: 100%;
    font-family: PingFangHK-Regular;
    margin: 0.05rem 0;
    float: left;
    color: #C3AF6B;
}

.login-code span {
    color: #636055;
    display: inline-block;
    margin-right: 0.1rem;
}

body .active {
    background-color: rgba(0, 0, 0, 0.1);
}

.submit {
    width: 3.15rem;
    height: 0.43rem;
    background-color: #FFD800;
    text-align: center;
    border-radius: 0.22rem;
    float: right;
    color: #636055;
    margin: 1.06rem 0.29rem 0 0;
    font-size: 0.18rem;
}

/* 
.login-success {
    display: none;
} */

.login-success .login-connect {
    height: 2.45rem;
    width: 100%;
    margin: 1.17rem 0 0 0;
    background-image: url(./../images/success.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-success .submit {
    margin: 0.4rem 0.29rem 0 0;
}

@media (max-height: 530px) {

    .login-header {
        margin: 0.46rem 0 0 0.3rem;
    }

    .login-connect {
        margin: 0.7rem 0 0 0.31rem;
    }

    .submit {
        margin: 0.96rem 0.29rem 0 0;
    }
}