body {
  margin: 0;
  padding: 0;
}

#collect {
  width: 1280px;
  height: 720px;
  background: #e6ddc3;
  overflow: hidden;
  position: relative;
}

.collect_header {
  margin-left: 60px;
  margin-top: 20px;
}

.collect_header > span {
  width: 69px;
  height: 70px;
  display: inline-block;
  font-size: 70px;
  line-height: 60px;
  opacity: 0.1;
}

.v_scroller {
  width: 11px;
  height: 650px;
  position: absolute;
  border-radius: 6px;
  right: 10px;
  top: 20px;
}

.v_scroller .v_scroller_content {
  left: 0;
  top: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.v_scroller .v_scroller_content .v_block {
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  transition: all .5s ease;
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  border-radius: 6px;
}

.collect_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .5s ease;
}

.collect_content {
  margin-top: 36px;
  height: 614px;
  position: relative;
}

.collect_none {
  height: 258px;
  line-height: 258px;
  text-align: center;
  font-size: 54px;
  color: #434343;
}

.yh_list {
  width: 1200px;
  height: 400px;
}

.yh_list .item_day {
  position: relative;
  margin-left: 60px;
}

.yh_list .item_day .arc {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ef8060;
  border-radius: 50%;
  opacity: 0.5;
}

.yh_list .item_day .date {
  height: 42px;
  font-size: 26px;
  font-weight: 500;
  line-height: 42px;
  color: #ef8060;
  opacity: 0.6;
  display: inline-block;
  margin-left: 15px;
}

.yh_list .yh_list_wrapper {
  position: relative;
  height: 85%;
  overflow: hidden;
}

.yh_list .yh_list_wrapper .yh_list_scroller {
  position: absolute;
  padding-left: 50px;
  padding-top: 10px;
  left: 0;
  top: 20px;
  width: 10000px;
  transition: all .5s ease;
}

.yh_list .yh_list_wrapper .yh_list_scroller .yh_list_item {
  float: left;
  margin-right: 20px;
  width: 178px;
  border: 1px solid transparent;
}

.yh_list .yh_list_wrapper .yh_list_scroller .yh_list_item .video_info {
  position: relative;
  width: 178px;
  height: 258px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  border-radius: 15px;
}

.yh_list .yh_list_wrapper .yh_list_scroller .yh_list_item .video_info .video_score {
  position: absolute;
  left: 3px;
  top: 2px;
  width: 44px;
  height: 32px;
  background: linear-gradient(343deg, #dda956 0%, #ebdabd 100%);
  border-radius: 15px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
}

.yh_list .yh_list_wrapper .yh_list_scroller .yh_list_item .video_info .video_img {
  width: 100%;
  height: 100%;
}

.yh_list .yh_list_wrapper .yh_list_scroller .yh_list_item .video_info .video_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.yh_list .yh_list_wrapper .yh_list_scroller .yh_list_item .video_name {
  margin-top: 10px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 21px;
}

.yh_list .yh_list_wrapper .yh_list_scroller .yh_list_item.hover .video_img {
  border-radius: 15px;
}

.yh_list .yh_list_wrapper .yh_list_scroller .yh_list_item.hover .video_info {
  border: 3px solid rgba(67, 154, 150, 0.6) !important;
  background: rgba(0, 170, 170, 0.8) !important;
  box-shadow: 0px 15px 5px rgba(67, 154, 150, 0.6) !important;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  position: relative;
  top: -4px;
}

.yh_list .list_scrollBar_Content {
  margin-left: 60px;
}

.yh_list .list_scrollBar_Content .list_scrollBar {
  width: 1140px;
  height: 11px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.yh_list .list_scrollBar_Content .list_scrollBar .list_scrollBlock {
  position: absolute;
  left: 0;
  top: 0;
  height: 11px;
  transition: all .5s ease;
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  border-radius: 6px;
}
